body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
    min-height: 100vh;
}

.page{
    width: 1000px;
    margin: 0 auto;
    padding-top: 65px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 58px;
}

ul{
    display: flex;
    gap: 48px;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul a{
    color: #1F1534;
    font-family: 'Mulish', sans-serif;
    opacity: 0.5;
}

ul li a:hover{
    font-weight: bold;
    opacity: 1;
}

a{
    text-decoration: none;
}
#logo{
    color: #89C5CC;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;  
}
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    width: 489px;
    font-size: 49px;
    line-height: 56px;
    color: #000000;
    font-weight:normal;
    font-family: 'Mulish', sans-serif;
}
h1 span{
    color: #89C5CC;
    font-weight: bold;
}
section p{
    width: 438px;
    color: #7D7987;
    font-size: 14px;
    line-height: 28px;
    margin: 40px 0;
}
button{
    font-size: 16px;
    line-height: 21px;
    color: #F9F9F9;
    border: none;
    background: #69B99D;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 4px;
    padding: 14px 32px 15px;
}
button:hover{
    cursor: pointer;
}
footer{
    color: #000000;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    margin-top: 80px;
}
footer a{
    font-weight: bold;
    color: #000000;
}
#balls{
    position: fixed;
    right: 0;
    bottom: 0;
}